<!-- Footer -->
<footer id="main-footer" class="py-4 bg-primary text-white text-center">
    Copyright &copy;
    <span class="year"></span> DMC

    <div class="col-md-4">
        <div class="social text-right">
          <a href="#">
            <i class="fab fa-twitter text-listing"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook text-listing"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin text-listing"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram text-listing"></i>
          </a>
        </div>
</footer>