{% extends 'base.html' %}
{% load static %}

<!-- Top Bar -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<section id="top-bar" class="p-3 bg-orange">
    <div style="height: 30px;" "container">
      <div class="row">
        <div class="col-md-4 text-listing">
          <i  class="fas fa-phone text-listing"></i> (617)-555-5555
        </div>
        <div class="col-md-4">
         <p class= "text-listing"style="text-align: center; font: 23px Caldo-serif">Call Us For Installation Today!</p>
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="#">
              <i class="fab fa-twitter text-listing"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook text-listing"></i>
            </a>
            <a href="#">
              <i class="fab fa-linkedin text-listing"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram text-listing"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>